html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 10px;
    color: #000000;
    -webkit-font-smoothing: antialiased;

    background: linear-gradient(52.96deg, #E1DBE9 0%, #BFC3E8 100%) fixed;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}


/* Header
===================*/
h1 {
    font-weight: 700;
    margin: 0;
    font-size: 3rem;
    color: #1D2ABB;
    padding: 0;
}

.header {
    padding: 1% 0;
    border-bottom: 0.5px solid #1D2ABB;
}

/* Memes list
===================*/
h2 {
    font-weight: 600;
    margin: 0;
    font-size: 2rem;
    padding: 0;
}

.bayan {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.bayan_block {
    padding: 1% 0;
    border-bottom: 0.5px solid black;
}

.bayan_block:last-child {
    border-bottom: none;
}

.list:hover .bayan{
    color: #1D2ABB;
}

.list:hover .icon {
    stroke: #1D2ABB;
    display: block;
}

.image {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.image img {
    transform: scale(0);
    transition: 0.5s;
}

.bayan__img {
    width: 50%;
}

.bayan_block:hover .icon{
    stroke: #1D2ABB;
    transform: rotate(-45deg);
}

.bayan_block:hover>.image .bayan__img {
    transform: scale(1);
  }

.bayan_input[id^=item-]:checked~.image .bayan__img {
    transform: scale(1);
  }

.bayan_input {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.bayan_input[id^=item-]:checked~.image .bayan__img {
    transform: scale(1);
  }

.bayan_input[id^=item-]:checked~.image,
.bayan_block:hover .image {
    height: 400px;
}

.image, .bayan__img:active {
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    stroke: none;
}

/* Footer
===================*/

.footer {
    padding: 10% 0 3% 0;
    bottom: 0;
}

.logo-object {
    height: 50px;
    background-image: url("logo_rs/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    cursor: pointer;
}

.footer_content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.Git_page {
    color: #1D2ABB;
}


@media (max-width: 1120px) {
body {
    font-size: 8px;
}

.wrapper {
    max-width: 750px;
}
.bayan__img {
    width: 60%;
}
}

@media (max-width: 1120px) {
body {
    font-size: 8px;
}

.wrapper {
    max-width: 280px;
}

.bayan__img {
    width: 80%;
}

h2 {
    font-weight: 400;
    margin: 0;
    font-size: 1rem;
    padding: 0;
}

h1 {
    font-weight: 600;
    margin: 0;
    font-size: 2rem;
    color: #1D2ABB;
    padding: 0;
}

.bayan_input[id^=item-]:checked~.image,
.bayan_block:hover .image {
    height: 100%;
}

.icon {
    width: 32px;
    height: 32px;
    stroke: none;
}

.footer_content {
    font-size: 0.7rem;
}

.logo-object {
    height: 20px;
}
}